<form action='/register' method='POST'>
    <input type='text' placeholder='Login' name='username' />
    <input type='text' placeholder='Password' name='password' />
    <button type='submit'>Créer</button>
</form>